*{
    padding: 0;
    margin: 0;box-sizing: border-box    ;
    
}
body{
    font-family: Poppins;
}
html,
body{
    margin-left: auto;
    margin-right: auto;
}
header{
    max-width: 1440px;
width: 100%;
margin-left: auto;
background-color: #fff;
margin-right: auto;
height: 126px;
box-shadow: 0.3px 0.3px 0.3px 0.3px rgb(198, 219, 240);
position: fixed;
}
.div1{
    width: 1440px;
    height: 44px;
    background-color: #454F5B;
    display: flex;
    gap: 197px
    ;
}
 .a1{text-decoration: none;
    color: #fff;
margin-left: 452px;

   font-family: SF Pro Display;
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.12em;
text-align: left;

   
    }
    
    a{
        color: #fff;
    margin-top: 9px;

    }
.a11{
    font-family: SF Pro Text;
font-size: 20px;
color: #161C24;
line-height: 23.87px;
text-align: left;
text-decoration: none;
}

.flex1{
gap: 32px;
    display: flex;
    margin-left: 101px;
}

.flex{background-color: #fff;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 100px;
    
}

.numb{
    width: 157px;
    size: 18px;
    line-height: 24px;
    color: #454F5B;
    margin-left: 6px;margin-right: 30px;


}
.icons{
    display: flex;
    align-items: center;
margin-top: 9px;

margin-left: 283.1px;
}
.Frame{
    margin-left: 30px;
}
.hero{
    display: flex;
    padding-top: 150px;
    margin-left: 100px;
    
}
.aaa{
    color: #141414;
    text-decoration: none;
    font-family: Poppins;
    font-family: SF Pro Text;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;


}
.aa{
    text-decoration: none;
    font-family: Poppins;
    font-family: SF Pro Text;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
color: #141414;
opacity: 0.7;
margin-left: 3px;


}

.h2 p{
    opacity: 0.7;
    margin-top: 8px;
}
.h2{
    margin-top: 40px;
    display: flex;
    align-items: center;
gap: 12px;
margin-left: 100px;
}

.buttons{
    display: flex;
    gap: 31px;
    align-items: center;
    margin-left: 100px;
    margin-top: 32px;
}

.buttons button{
    width: 288px;
height: 40px;
padding: 7px 72px 7px 72px;
gap: 10px;
border: 0.5px  solid rgb(163, 162, 162);
background-color: inherit;

font-family: HelveticaNeueCyr;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;

}

.flexca a{
    
font-family: SF Pro Text;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;

    color: #161C24;
    text-decoration: none;

}
.flexca{
    display: flex;
    align-items: center;

    gap: 8px
    ;
}
.flexca img{
    margin-top: 4px;
}
.btn{
    display: flex;
align-items: center;
width:  194px;
height: 40px;
top: 286px;
left: 1151px;
gap: 16px;
border: 1px solid #C4CDD5 ;
margin-left: 488px;

}

.btn a{
    margin-left: 12px;
    margin-top: 4px;
   width: 136px;
font-family: SF Pro Text;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
color: #161C24;
text-decoration: none;

}

.blok1{
    width:  288px;
height: 460px;

padding: 24px ;
border-radius: 2px ;
border: 1px solid #C4CDD5;

}
.blok1 h2{
    font-family: SF Pro Text;
font-size: 22px;
font-weight: 600;
line-height: 32px;
text-align: left;

}
.q{
    display: flex;
    gap: 180px;
    margin-top: 32px;
    align-items: center;
}
.q span{
    width: 42px;
height: 26px;
gap: 0px;
opacity: 0px;

font-family: SF Pro Text;
font-size: 16px;
font-weight: 500;
line-height: 26px;
text-align: left;

}

.b1{
    width: 116px;
height: 44px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid  #4295E4;
background-color: #fff;
}

.b2{
    width: 116px;
height: 44px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid  #4295E4;
background-color: #fff;
}
.b3{
    display: flex;
    gap:8px;
    margin-top: 39px;
}


.s h2{
   color: #161C24;
font-family: SF Pro Text;
font-size: 16px;
font-weight: 500;
line-height: 26px;
text-align: left;

}

.s{
    display: flex;
    align-items: center;gap: 120px
    
    ;margin-top: 16px;
}
.ciz{
    width: 240px;
    border: 1px solid #EDEDED;
    margin-top: 16px;

}.s1{
    display: flex;
    align-items: center;gap: 175px
    
    ;margin-top: 16px;
}
.s1 h2{
    color: #161C24;
 font-family: SF Pro Text;
 font-size: 16px;
 font-weight: 500;
 line-height: 26px;
 text-align: left;
 
 }
 .s2{
    display: flex;
    align-items: center;gap: 140px
    
    ;margin-top: 16px;
}
.s2 h2{
    color: #161C24;
 font-family: SF Pro Text;
 font-size: 16px;
 font-weight: 500;
 line-height: 26px;
 text-align: left;
 
 }
 .s3{
    display: flex;
    align-items: center;gap: 140px
    
    ;margin-top: 16px;
}
.s3 h2{
    color: #161C24;
 font-family: SF Pro Text;
 font-size: 16px;
 font-weight: 500;
 line-height: 26px;
 text-align: left;
 
 }


 .blok2{
    width: 288px;
    height: 453px;
 }
 .ha a{
    font-family: SF Pro Text;
font-size: 13px;
font-weight: 400;
line-height: 21px;
text-align: left;
color: #454F5B;
text-decoration: none;

 }
 .ha{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
 }

 .blok2 p{
    width: 264px;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
color: #454F5B;
margin-top: 6px;
;
 }


 .px h2{

    font-family: SF Pro Text;
font-size: 20px;
font-weight: 600;
line-height: 23.87px;
text-align: left;
color: #161C24;
 }
 .px .rub{
    text-decoration: line-through;
    font-family: SF Pro Text;
font-size: 18px;
font-weight: 300;
line-height: 21.48px;
text-align: left;
color: #454F5B;


 }
 .px{
    display: flex;
    gap: 12px;
    margin-top: 10px;
 }

 .blok{
    display: flex;
    align-items: center;
    gap: 30px
    
    ;
margin-left: 100px;
margin-top: 32px; 
}



 /* blok 3 */



 
 .blok3{
    width: 288px;
    height: 453px;
 }
 .ha a{
    font-family: SF Pro Text;
font-size: 13px;
font-weight: 400;
line-height: 21px;
text-align: left;
color: #454F5B;
text-decoration: none;

 }
 .ha{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
 }

 .blok3 p{
    width: 264px;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
color: #454F5B;
margin-top: 6px;
;
 }


 .px h2{

    font-family: SF Pro Text;
font-size: 20px;
font-weight: 600;
line-height: 23.87px;
text-align: left;
color: #161C24;
 }
 .px .rub{
    text-decoration: line-through;
    font-family: SF Pro Text;
font-size: 18px;
font-weight: 300;
line-height: 21.48px;
text-align: left;
color: #454F5B;


 }
 .px{
    display: flex;
    gap: 12px;
    margin-top: 10px;
 }

 
 /* blpk4
 */



 
 .blok4{
    width: 288px;
    height: 453px;
 }
 .ha a{
    font-family: SF Pro Text;
font-size: 13px;
font-weight: 400;
line-height: 21px;
text-align: left;
color: #454F5B;
text-decoration: none;

 }
 .ha{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
 }

 .blok4 p{
    width: 264px;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
color: #454F5B;
margin-top: 6px;
;
 }


 .px h2{

    font-family: SF Pro Text;
font-size: 20px;
font-weight: 600;
line-height: 23.87px;
text-align: left;
color: #161C24;
 }
 .px .rub{
    text-decoration: line-through;
    font-family: SF Pro Text;
font-size: 18px;
font-weight: 300;
line-height: 21.48px;
text-align: left;
color: #454F5B;


 }
 .px{
    display: flex;
    gap: 12px;
    margin-top: 10px;
 }

 


 .pas{
    display: flex;
    gap: 30px;
    margin-top: 40px;
    margin-left: 418px;
 }